<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.SignoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationControllerServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.LocationControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationImageUploaderServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.LocationImageUploadingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLocationForWelcomeServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.ViewLocationForWelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagementServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.UserManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadActiveHotelsServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.LoadActiveHotelsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUsersForUpdateDeleteServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.LoadUsersForUpdateDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSelectedUserDataServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.user.LoadSelectedUserDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadActiveLocationsServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.locations.LoadActiveLocationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravelGuideManagementServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.travelGuide.TravelGuideManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTravelGuideForUpdateDeleteServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.travelGuide.LoadTravelGuideForUpdateDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSelectedTravelGuideServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.travelGuide.LoadSelectedTravelGuideServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityControllerServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.city.CityControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSelectedCityServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.city.LoadSelectedCityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCityForUpdateDeleteServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.city.LoadCityForUpdateDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSelectedLocationServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.locations.ViewSelectedLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCityForLocationServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.locations.LoadCityForLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CallAddCityFromLocationServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.locations.CallAddCityFromLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadLocationForUpdateDeleteViewServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.locations.LoadLocationForUpdateDeleteViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelControllerServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.hotels.HotelControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelImageUploaderServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.hotels.HotelImageUploaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHotelForUpdateDeleteViewServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.hotels.LoadHotelForUpdateDeleteViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSelectedHotelServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.hotels.ViewSelectedHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeSearchServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.search.HomeSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHotelForOfficerServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.user.AddHotelForOfficerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.signup.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetHotLocationServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.locations.SetHotLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationDownloadServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.ApplicationDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelContractControllerServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.hotels.HotelContractControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationCommentControllerServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.LocationCommentControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPublishedCommentsServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.ViewPublishedCommentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationVoteControllerServlet</servlet-name>
        <servlet-class>com.duminda.ceylonjourney.controller.locations.LocationVoteControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutServlet</servlet-name>
        <url-pattern>/signout.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationControllerServlet</servlet-name>
        <url-pattern>/locationController.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationImageUploaderServlet</servlet-name>
        <url-pattern>/locationImageUploader.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLocationForWelcomeServlet</servlet-name>
        <url-pattern>/viewLocationForWelcome.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotPassword.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagementServlet</servlet-name>
        <url-pattern>/userManagement.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadActiveHotelsServlet</servlet-name>
        <url-pattern>/loadActiveHotels.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changePassword.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUsersForUpdateDeleteServlet</servlet-name>
        <url-pattern>/loadUsersForUpdateDelete.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSelectedUserDataServlet</servlet-name>
        <url-pattern>/loadSelectedUserDataServlet.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadActiveLocationsServlet</servlet-name>
        <url-pattern>/loadActiveLocations.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravelGuideManagementServlet</servlet-name>
        <url-pattern>/travelGuideManagement.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTravelGuideForUpdateDeleteServlet</servlet-name>
        <url-pattern>/loadTravelGuideForUpdateDelete.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSelectedTravelGuideServlet</servlet-name>
        <url-pattern>/loadSelectedTravelGuide.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityControllerServlet</servlet-name>
        <url-pattern>/cityController.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSelectedCityServlet</servlet-name>
        <url-pattern>/loadSelectedCity.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCityForUpdateDeleteServlet</servlet-name>
        <url-pattern>/loadCityForUpdateDelete.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSelectedLocationServlet</servlet-name>
        <url-pattern>/viewSelectedLocation.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCityForLocationServlet</servlet-name>
        <url-pattern>/loadCityForLocation.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallAddCityFromLocationServlet</servlet-name>
        <url-pattern>/callAddCityFromLocation.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadLocationForUpdateDeleteViewServlet</servlet-name>
        <url-pattern>/loadLocationForUpdateDeleteView.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelControllerServlet</servlet-name>
        <url-pattern>/hotelController.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelImageUploaderServlet</servlet-name>
        <url-pattern>/hotelImageUploader.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHotelForUpdateDeleteViewServlet</servlet-name>
        <url-pattern>/loadHotelForUpdateDeleteView.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSelectedHotelServlet</servlet-name>
        <url-pattern>/viewSelectedHotel.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeSearchServlet</servlet-name>
        <url-pattern>/homeSearch.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHotelForOfficerServlet</servlet-name>
        <url-pattern>/addHotelForOfficer.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetHotLocationServlet</servlet-name>
        <url-pattern>/setHotLocation.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationDownloadServlet</servlet-name>
        <url-pattern>/DistanceCalculator.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelContractControllerServlet</servlet-name>
        <url-pattern>/hotelContractController.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationCommentControllerServlet</servlet-name>
        <url-pattern>/locationCommentController.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPublishedCommentsServlet</servlet-name>
        <url-pattern>/viewPublishedComments.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationVoteControllerServlet</servlet-name>
        <url-pattern>/locationVoteController.action</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>viewLocationForWelcome.action</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>
            com.duminda.ceylonjourney.controller.LoginSessionTracking
        </listener-class>
    </listener>
</web-app>
